body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: black;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 0px 0px;
    border-bottom: 1px solid gray;
    background: linear-gradient(90deg, white, red);
    font-weight: bold;
}
.logo {
    width: auto;
    height: 60px;
    margin: 0%;
    padding: 0%;
}
.logo:hover {
    cursor: pointer;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.navbar-left ul li a:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: black;
}
.navbar-right ul li a:hover {
    color: whitesmoke;
}
.boton {
    width: 100px;
    padding: 5px;
    background-color: red;
    color: white;
    border: 2px solid white; 
    padding: 10px 20px; 
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
    border-radius: 10%;
}
.boton:hover {
    background-color: white;
    color: red;
    border: 2px solid black;
}
.boton:active {
    background-color: #ff6868;
    color: white; /* Cambia el color de fondo al estar presionado */
    border: 2px solid white;
}
.class {
    background-color: black;
    position: absolute;
    bottom: 100vh;
    top: 100vh;
    right: 100vh;
    left: 100vh;
}
#logoCentral {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: auto;
    margin-top: 10px;
}
#primerTexto {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
}
.bloqueInferior {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}
#cuadrorojo {
    width: 55vh;
    height: 55vh;
    background: linear-gradient(to right top, red, black);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
#trabajando {
    z-index: 1;
    position: absolute;
    bottom: 5vh;
    left: 6vh;
    width: auto;
    height: 45vh;
}
#titulo {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
}
.lista {
    color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    line-height: 2;
}
#letra {
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    align-items: center;
    display: block;
    margin: 0 auto;
    height: 150px;
    width: auto;
    opacity: 0.25;
}