body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #d9d9d9;
}

nav {
    list-style: none;
    padding: 0;
}

.navbar {
    width: 20vw;
    height: 100vh;
    background-image: linear-gradient(black, red);
    background-repeat: no-repeat;
    background-position: top;
    border-right: 1px solid black;
    position: fixed;
    left: 0;
    top: 0;
}

.logoDof {
    height: auto;
    width: 20vw;
    margin: 0%;
    padding: 0%;
}

.navbar ul {
    padding: 4vh 0;
}

.navbar ul li {
    height: auto;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 15px 0;
    transition: background-color 0.3s;
}

.navbar ul li{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px;
    height: 15vh;
    width: 100%;
    box-sizing: border-box;
}

.navbar ul li:hover {
    background-color: gray;
    border: 1px solid white;
    cursor: pointer;
}

.navbar li img {
    width: 20%;
    height: auto;
    margin-right: 2vw;
    left: 0;
}

.navbar ul li:nth-child(2) {
    height: auto;
    width: 20.85vw;
    margin-left: -0.9vw;
}

#segundologo {
    height: auto;
    width: 30%;
    margin-right: 1vw;
}

#imagensuperior {
    position: absolute;
    top: 0;
    right: 0;
    height: 25vh;
    width: 80vw;
    z-index: -1;
    overflow: hidden;
}

#imagensuperior img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.submenu {
    position: absolute;
    top: 20vh;
    left: 20vw;
    width: 80vw;
    height: 10vh;
    background: linear-gradient(to right, red, black);
    text-align: center;
    display: flex;
    align-items: center;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: none;
}

.submenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.submenu ul li {
    padding: 10px;
    cursor: pointer;
    border: 2px solid black;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 5vw;
    font-weight: bold;
    width: 120px;
    height: 50%;
    justify-content: center;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
}

.submenu ul li:hover {
    background-color: #ff9b9b;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.submenu ul li:active {
    background-color: gray;
    transform: scale(0.9); 
    box-shadow: none;
}

#content-container {
    position: absolute;
    top: 30vh;
    right: 0;
    left: 20vw;
    bottom: 0;
    padding: 20px;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.content-section {
    display: none;
}
#archivos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.p-wrapper {
    width: 50%; /* Ajusta el ancho según sea necesario */
    box-sizing: border-box;
    padding: 10px;
}

.p-wrapper p {
    margin: 1vh 10vw 1vh 10vw;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 50%;
    height: auto;
    box-sizing: border-box;
    background-color: #c4c4c4;
}
#titulo2 {
    padding: 6px 20px;
    
}
.p-wrapper img {
    display: block;
    width: 40%; /* Ajusta el ancho según sea necesario */
    height: auto; /* Para mantener la proporción */
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
    margin-left: 12vw;
}
.p-wrapper button {
    display: block;
    width: 40%;
    height: auto;
    margin-top: 2vh;
    margin-left: 12vw;
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.p-wrapper button:hover{
    background-color: white;
    color: red;
    border: 2px solid black;

}
.p-wrapper button:active {
    background-color: #ff6868;
    color: white; /* Cambia el color de fondo al estar presionado */
    border: 2px solid white;
}
#excepcion p {
    padding: 20px;
}
#banner {
    position: absolute;
    top: 8vh;
    left: 22vw;
    color: white;
    font-weight: bold;
    font-size: 60px;
}
.fondocuadro {
    position: absolute;
    top: 24vh;
    left: 22vw;
    height: 76vh;
    width: 78vw;
    background: linear-gradient(to bottom, black, red);
}
.fondocuadro p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;

}
#subtitulo {
    font-size: 40px;
    padding-top: 40px;
}
#parrafo {
    font-size: 20px;
    margin: 10vh 10vw;
    line-height: 2;
    padding: 30px;
    border: 3px solid gray;
    background-color: #d9d9d9;
    color: black;
    border-radius: 10px;
    font-style: italic;
}
.menuinicio {
    display: grid;
    justify-content: center;
    align-items: center;
}
.menuinicio div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    margin: 70px;
    cursor: pointer;
    border-radius: 5px;
}
.menuinicio div:hover {
    background-color: #ff6868 ;
    color: white;
}
.menuinicio p {
    font-weight: bold;
}
.menuinicio img {
    height: 8vh;
    width: auto;
}
#reunion {
    grid-area: 1 / 1 / 2 / 2;
}
  
#unirse {
    grid-area: 1 / 2 / 2 / 3;
}
  
#programar {
    grid-area: 2 / 1 / 3 / 2;  
}
  
#compartir {
    grid-area: 2 / 2 / 3 / 3;  
}
#calendario-container {
    max-width: 40vw;
    margin: 5vw 4vw;
    text-align: center;
    position: absolute;
    top: 2vh;
    right: 13vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#calendario-container .navegacion {
    margin-bottom: 10px;
}
  
#calendario-container table {
    width: 100%;
    border-collapse: collapse;
 }
  
#calendario-container th,
#calendario-container td {
    padding: 10px;
    border: 2px solid black;
}
  
#calendario-container th {
    background-color: #f2f2f2;
}
  
#calendario-container td:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}
  
#calendario-container .actual {
    font-weight: bold;
    color: red;
}
#calendario-container button {
    margin-top: 20px;
    background: red;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#calendario-container button:hover {
    background: #ff6868;
    border: 1px solid white;
    color: white;
}
.opcionescalendario {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: absolute;
    top: 8vh;
    left: 10vw;
}
.opcionescalendario ul {
    list-style: none;
    text-align: center;
}
.opcionescalendario ul li {
    padding: 10px 30px;
    border: 2px solid black;
    margin: 50px 30px;
    background: #f2f2f2 ;
    cursor: pointer;
}
.opcionescalendario ul li:hover {
    background: #e6e6e6;
}
.toggle-bar {
    display: flex;
    width: 15vw;
    height: 5vh;
    background-color: #e6e6e6;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: 3vh;
    left: 3vw;
    border: 1px solid black;
}
  
.toggle-option {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
#opcion1.active {
    background-color: #740000;
    color: #fff;
}
  
#opcion2.active {
    background-color: #793939;
    color: #fff;
}
.listas div {
    display: none;
}
.listas ul {
    list-style: none;
    line-height: 1.5;
    position: absolute;
    top: 12vh;
    left: 4vw;
    border: 2px solid black;
    background: white;
    padding: 10px;
}
#listatitulo {
    font-weight: bold;
}
#listaduracion {
    font-size: 12px;
    margin-left: 1vw;
}
#listaprog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid black;
    padding: 24.5vh 14vw;    
}
#listaprog img {
    height: auto;
    width: 70%;
    margin-bottom: 10px;
    cursor: pointer;
}
#listaprog p {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#listaprog p:hover {
    color: #740000
}
.usuario {
    display: flex;
    font-weight: bold;
    align-items: center;
    padding: 20px;
}
.usuario p, .usuario input, .usuario img{
    margin: 20px;
    padding: 10px 40px;
}
.usuario input {
    border: 2px solid black;
    width: 20vw;
}
.usuario img {
    padding-left: 0;
    margin-left: 0;
    cursor: pointer;
    width: 2vw;
    height: auto;
}
.listaempresas {
    max-width: 40vw;
    text-align: center;
    margin: 2vh 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.listaempresas table {
    width: 100%;
    border-collapse: collapse;
}
.listaempresas th,
.listaempresas td {
    padding: 10px;
    border: 2px solid black;
}
      
.listaempresas th {
    background-color: #f2f2f2;
}
.listaempresas img {
    width: 2vw;
    height: auto;
    cursor: pointer;
}
#guardar {
    position: absolute;
    padding: 10px 20px;
    margin-top: 20px;
    right: 29vw;
    cursor: pointer;
    border: 2px solid black;
    font-weight: bold;
    background: rgb(55, 201, 55);
}
#guardar:hover {
    border: 2px solid gray;
    background: green;
    color: white;
}
#guardar:active {
    border: 2px solid green;
    background: white;
    color: green;
}
.toggle-bar2 {
    display: flex;
    width: 30vw;
    height: 5vh;
    background-color: #e6e6e6;
    border-radius: 15px;
    overflow: hidden;
    position: absolute;
    top: 3vh;
    left: 3vw;
    border: 1px solid black;
}
#opcion3.active{
    background-color: #740000;
    color: #fff;
}
#opcion4.active {
    background-color: #740000;
    color: #fff;
}
#opcion5.active {
    background-color: #740000;
    color: #fff;
}
#opcion6.active{
    background-color: #740000;
    color: #fff;
}
#crono {
    max-width: 40vw;
    text-align: center;
    margin: 2vh 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 15vh;
}
#crono {
    display: none;
}
#crono table {
    width: 100%;
    border-collapse: collapse;
}
#crono th,
#crono td {
    padding: 10px;
    border: 2px solid black;
}
      
#crono th {
    background-color: #f2f2f2;
}
#verde {
    background-color: greenyellow;
}
#rojo {
    background-color: red;
}
#conceptos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 50vh;
    width: auto;
    position: absolute;

}
#mens {
    display: none;
}

#conceptos ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 14vh;
    left: 2vw;
    width: 10vw;
}
#conceptos ul li {
    text-align: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 13vh;
    border: 2px solid black;
    position: relative;
    font-weight: bold;
    background: linear-gradient(to right, rgb(211, 72, 8), rgb(255, 165, 31));
}
#opcionesmensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#opcionesmensaje textarea {
    width: 25vw;
    height: 14.5vh;
    position: absolute;
    top: 14vh;
    left: 15vw;
    border: 2px solid black;
    resize: none;
}
#docslogos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    position: absolute;
    width: 25vw;
    top: 31.5vh;
    left: 15vw;
}
#docslogos img {
    width: 4vw;
    height: auto;
    padding: 10px;
    cursor: pointer;
}
#pendientes {
    display: flex;
    position: absolute;
    top: 45vh;
    left: 15vw;
}
#pendientes2 {
    display: flex;
    position: absolute;
    top:56vh;
    left: 15vw;
}
#pendientes div, #pendientes2 div {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 12vw;
    align-items: center;
    background: #f2f2f2;
}

#pendientes div p, #pendientes2 div p {
    display: flex;
    font-weight: bold;
    font-size: 10px;
    padding: 10px;
}

#pend1 {
    justify-content: space-around;
    align-items: center;
}
#pend3 {
    justify-content: space-around;
    align-items: center;
    color: red;
}
#pend4 {
    justify-content: space-around;
    align-items: center;
}
#pend6 {
    justify-content: space-around;
    align-items: center;
    color: green;
}
#boton {
    position: absolute;
    top: 51.5vh;
    right: 20vw;
    width: 5vw;
    height: 8vh;
    background-color: green;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boton:hover {
    background-color: rgb(103, 172, 0);
    border: 2px solid green;
}
#boton:active {
    background-color: rgb(82, 163, 82);
}
#boton img {
    width: 70%;
    height: auto;
    filter: invert(100%);
}
#docs {
    max-width: 40vw;
    text-align: center;
    margin: 2vh 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 15vh;
    font-weight: bold;
}
#docs {
    display: none;
}
#docs table {
    width: 100%;
    border-collapse: collapse;
}
#docs th,
#docs td {
    padding: 10px 20px;
    border: 2px solid black;
}
#docs th {
    background: linear-gradient(to right, rgb(211, 72, 8), rgb(255, 165, 31));
}
#docs td {
    background-color: #f2f2f2;
}
#docs tr td img {
    width: 4vw;
    height: auto;
    cursor: pointer;
    margin: 0px 10px;
}